*{padding: 0;margin: 0;text-align: center;font-size: 20px;font-family: sans-serif,Cambria;text-decoration: none;list-style: none;color: #ffffff;}
body{position: fixed;width: 100%;height: 100%;overflow: hidden;display: block;}