header{
    background: transparent;
    height: 150px;
    display: block;
}

.HomeHeader{
    background: transparent;
    height: auto;
    max-height: 200px;
}

#HeaderHolder{
    width: 100%;
    height: 100px;
    background: forestgreen;
}

#Logo{
    width: 90px;
    height: 90px;
    border-radius: 100px;
}

.CompanyName{
    color: #ffffff;
    font-size: 20px;
    width: 60%;
}

.Motto{
    position: absolute;
    color: white;
    bottom: 5%;
    left: 25%;
    font-size: 12px;
}

#DonateSection{
    background: gray;
    margin-top: 1%;
    height: 40px;
}

.DonateWord{
    color: #ffffff;
}

.PoweringCompany{
    color: forestgreen;
    font-size: 18px;
}

#ContactHolder{
    background: forestgreen;
    width: 95%;
}

.SendButton{
    background: forestgreen;
}

.ScrollDiv{
    top: 150px;
    height: auto;
    bottom: 0;
    overflow-y: auto;
}

#Menu{
   background: transparent;
   display: none;
}

#MenuClose{
    display: none;
}

.MainImage{
    position: relative;
    height: auto;
    width: 95%;
    margin-top: 2%;
    border-radius: 10px;
}

.Season{
    font-size: 30px;
    border: 1px solid #cdcdcd50;
    width: 90%;
    padding: 2%;
    border-radius: 20px;
}

.MainFooter{
    background: #00000080;
    height: 50%;
}

.Message{
    color: #ffffff;
}

.SubMessage{
    color: #ffffff;
}

.SlideDiv{
    position: relative;
    height: 300px;
    background: transparent;
}

#QuraBanMessage{
    padding: 0 10%;
}

.QurabanImage{
    object-fit: contain;
}

h1,h2,h3,h4,h5,h6{
    color: #000000;
}

p{
    color: #000000;
}

.LeftText{
    color: #000000;
}

input{
    color: #000000;
}

textarea{
    color: #000000;
}

#BorderButton{
    background: #cdcdcd;
    width: 95%;
    height: 400px;
    border-radius: 10px;
}

#MidImage{
    position: relative;
    width: 200px;
    height: 200px;
    left: 0;
}

.SmallDonate{
    background: yellow;
    width: 50%;
    height: 30px;
    border-radius: 10px;
    color: #000000;
}

.IbraProject{
    position: relative;
    width: 45%;
    height: 200px;
    background: #000000;
    border-radius: 10px;
    display: inline-table;
    margin: 2%;
}

.ProjectImage{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

#ProjectFooter{
    height: 30px;
}