.AppName{
    font-size: 30px;
    color: red;
}

.LoginButton{
    background: forestgreen;
}

#OptionsHolder{
    display: inline-flex;
}

.OptionButtons{
    width: 45%;
    margin: auto;
    border: 1px solid #cdcdcd50;
}

.FooterImageDiv{
    position: relative;
    background: transparent;
    width: 30%;
    height: 40px;
    display: inline-block;
}

.RoundFooter{
    background: #333333;
    border-radius: 10px;
}

.HomeDiv{
   background: transparent;
   overflow-y: auto;
}

.TrendingMovie{
    position: relative;
    width: 98%;
    height: 200px;
    background: transparent;
    border: 1px solid #cdcdcd20;
    margin-top: 2%;
    border-radius: 5px;
}

.InlineButton{
    width: 98%;
    border: 1px solid #cdcdcd20;
}