body{
    background: #333333;
}

.TableView{
    background: forestgreen;
}

#SettingsDivision{
    width: 90%;
    background: orange;
    border-radius: 10px;
}

.ImageButton{
    background: teal;
}

.ImageProject{
    width: 95%;
    height: 300px;
    border-radius: 10px;
}

.SendButton{
    background: forestgreen;
}

#smallLoader{
    width: 20px;
    height: 20px;
    margin-top: 20%;
}

.ProjectFooter{
    background: #000000;
}